duckdns_token: "11111111-1111-1111-1111-111111111111"

# custom-initramfs
wg_ifport: "666"
wg_ifpk: "THFU76CTBKXVKT4BXBC367VF4I6T="
wg_peerpubkey: "GHUVFK7GV7RDBNKNC7KBNKXCE7RBCTKC="
wg_peerpresharedkey: "NHVGSO8N57O8NCSO8RE7NC7TO8NRO88URVNG="
wg_peerallowedips: "X.X.X.X/XX"
dropbear_authorized_keys: |
  ssh-<key_type> <key> <comment>